@import "media-queries";

* {
	margin: 0;
	padding:0;
	box-sizing: border-box !important;
}

body {
	font-family: 'lato', sans-serif !important;  
	color:#fff;	
}

a {
   text-decoration: none !important;
}

header {
   position: relative;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to right bottom, 
	 rgba(156, 39, 176,0.9), 
	 rgba(103, 58, 183,0.9)),
	   url('../img/nat-7.jpg');
   background-repeat: no-repeat;   
   background-size: cover;   
   background-clip: bottom center;

   #navigation {
      img {
         width:37px;
      }

      .navbar-nav {
         li {
            a {
               color: #fff !important;
               font-size: .8rem;
            }

            &:hover {
               border-bottom: 1px solid #fff;
            }
         }
      }
   }
}

.hero {
   margin-top: 175px;

   h1 {
      font-weight: 600;
   }

   p {
      letter-spacing: .3rem;
      font-size: .9rem;

      @include largeScreen {
         font-size: .75rem;
      }

      @include tablet {
         font-size: .6rem;
      }

      @include smallScreen {
         font-size: .5rem;
      }
   }

   .btn-arrow {
      position: absolute;
      bottom:35px;
   }
}

#about {
   #about-img {
      width:300px;
      border-radius: 50%;
   }

   .display-5 {
      font-size: 2rem !important;
   }

   .about-title {
      position: relative;

      &::after {
         content: '';
         position: absolute;
         background: rgba(103, 58, 183,1);
         width: 75px;
         height: 1px;
         bottom: -8px;
         left: 49%;
         margin-left: -45px;
      }

      &::before {
         content: '';
         position: absolute;
         background: rgba(156, 39, 176,1);
         width: 75px;
         height: 1px;
         bottom: -13px;
         left: 50%;
         margin-left: -30px;
      }
   }

   p {
      .text-link {
         color:rgba(103, 58, 183,1);
      }

      font-size: .9rem;
   }
}