@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

@import "media-queries";

$dark: #616161;
$font-p: .9rem;
$title: 2rem !important;

%title-shared {
   position: relative;
   font-size: $title;
}

%para-shared {
   font-size: $font-p;
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box !important;
}

body {
	font-family: 'lato', sans-serif !important;  
	color:#fff;	
}

a {
   text-decoration: none !important;
}

header {
   position: relative;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to right bottom, 
	 rgba(156, 39, 176,0.9), 
	 rgba(103, 58, 183,0.9)),
	   url('../img/nat-7.jpg');
   background-repeat: no-repeat;   
   background-size: cover;   
   background-clip: bottom center;

   #navigation {
      img {
         width:37px;
      }

      .navbar-nav {
         li {
            a {
               color: #fff !important;
               font-size: .8rem;
            }

            &:hover {
               border-bottom: 1px solid #fff;
            }
         }
      }
   }
}

.hero {
   margin-top: 175px;

   h1 {
      font-weight: 600;
   }

   p {
      letter-spacing: .3rem;
      font-size: .9rem;

      @include largeScreen {
         font-size: .75rem;
      }

      @include tablet {
         font-size: .6rem;
      }

      @include smallScreen {
         font-size: .5rem;
      }
   }

   .btn-arrow {
      position: absolute;
      bottom:35px;
   }
}

#about {
   #about-img {
      width:300px;
      border-radius: 50%;
   }

   .about-title {
      @extend %title-shared;
      &::after {
         content: '';
         position: absolute;
         background: rgba(103, 58, 183,1);
         width: 75px;
         height: 1px;
         bottom: -8px;
         left: 49%;
         margin-left: -45px;
      }
   
      &::before {
         content: '';
         position: absolute;
         background: rgba(156, 39, 176,1);
         width: 75px;
         height: 1px;
         bottom: -13px;
         left: 50%;
         margin-left: -30px;
      }
      color:#616161;
   }

   p {
      .text-link {
         color:rgba(103, 58, 183,1);
      }

      @extend %para-shared;
      color:$dark;
   }
}

#experience {
   background-image: linear-gradient(to right bottom, 
	 rgba(156, 39, 176,0.9), 
	 rgba(103, 58, 183,0.9)),
	   url('../img/bg.jpg');
   background-repeat: no-repeat;   
   background-size: cover;   
   background-attachment: fixed;
   background-clip: bottom center;
   .experience-title {
      @extend %title-shared;
      color: #fff;
      &::after {
         content: '';
         position: absolute;
         background: #fff;
         width: 75px;
         height: 1px;
         bottom: -8px;
         left: 49%;
         margin-left: -45px;
      }
   
      &::before {
         content: '';
         position: absolute;
         background: #fff;
         width: 75px;
         height: 1px;
         bottom: -13px;
         left: 50%;
         margin-left: -30px;
      }
   }

   .exp-text {
      margin-bottom: 100px !important;
   }

   .tech-stack {
      h4 {
         font-weight: 300;
      }
   }

   p {
      @extend %para-shared;
      color: #fff;
   }

   .techs img{
      width: 65px;
   }

}